# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VisualOdometry/v15/.suo
.vs/VisualOdometry/v15/Browse.VC.db
.vs/VSWorkspaceState.json
VisualOdometry/Debug/VisualOdometry.log
VisualOdometry/Debug/VisualOdometry.tlog/VisualOdometry.lastbuildstate
VisualOdometry/VisualOdometry.vcxproj
VisualOdometry/VisualOdometry.vcxproj.filters
.vs/VisualOdometry/v15/Browse.VC.opendb
.vs/VisualOdometry/v15/ipch/AutoPCH/82cd7fc9437735c3/VISUALODOMETRY_CONSOLE.ipch
.vs/VisualOdometry/v15/ipch/AutoPCH/bbbf93ab7a0d031a/MAINENGINE.ipch
